:root{
    /* Colors */
    --color-text:#FFF;
    --color-primary:#8AFF23;
    --color-secondary:#19376D;
    --color-secondary-light:#196D49;
    --color-dark:#000;
    --color-bg:#04152D;

    /* Fonts */
    --font-primary: 'Roboto';

}